* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.banner {
  height: 100vh;
  background: linear-gradient(-45deg, #3d3d3d, white, #3d3d3d, white);
  background-size: 700% 700%;
  background-position: 0 0;
  display: flex;
  align-items: center;
  padding: 10px 4vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner h1 {
  max-width: 1280px;
  font-size: 5rem;
  font-family: 'Avenir', sans-serif;
  line-height: 1.2;
}
